@tailwind base;

@tailwind components;

@tailwind utilities;

@import './veriables.scss';

@import './darkmark.scss';

// @import 'github-markdown.css';

//需要定义scrollbar
// primary: colors.emerald[500], //* 主要 colors.amber.500
// wraning: colors.yellow[500], // * 警告 colors.amber.500
// secondary: colors.coolGray[500], // * 次要colors.coolGray.500
// success: colors.green[500], //* colors.amber.600
// link: colors.blue[300],
// "link-hover": colors.blue[500],
// info: colors.teal[500],
// danger: colors.red[800],
// light: colors.blueGray[50],
// dark: colors.blueGray[800],
// border: colors.trueGray[300]

@layer components {

  .click-link {

    @apply text-link hover:text-link-hover;
  }

  .click-item {

    @apply text-gray-400 hover:text-success-hover;

    &.active {

      @apply text-success;
    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: theme('colors.light');
}

::-webkit-scrollbar:hover {
  background-color: theme('colors.light');
}

::-webkit-scrollbar-thumb {
  // min-width: 5px;
  // min-height: 5px;
  -webkit-border-radius: 20px;
  background-color: theme('colors.secondary');
}

// hover

::-webkit-scrollbar-thumb:hover {
  min-width: 5px;
  min-height: 5px;
  -webkit-border-radius: 20px;
  background-color: theme('colors.primary');
}

// 按住滑动

::-webkit-scrollbar-thumb:active {
  -webkit-border-radius: 20px;
  background-color: theme('colors.primary');
}
